<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evaluate a news article</title>
  </head>
  <body>
    <h1>Analysis</h1>
    <div id="entry-holder">
      <div id="text_input">
        <input id="web" type="text" placeholder="Enter your URL here" />
      </div>
      <button id="submit" onclick="return Client.handleSubmit()">Submit</button>
    </div>
    <h2>Analysis result</h2>
    <div id="entry-log">
      <p id="result">Waiting for analysis...</p>
    </div>
    <footer>Created by &reg;Hagar Ashmawy</footer>
  </body>
</html>
